* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
}

header {

    background: linear-gradient(135deg, #2a3d4a, #111a20); /* contrast color */;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    text-align: right;
    padding: 1.5rem;
    z-index: 50;
    width: 100%;

}

header ul {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 2rem;
}

header ul a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

header ul a:hover {
   color: orange;
   font-size: 1.05rem;
}

.mobile_menu {
    position: absolute;
    background: linear-gradient(135deg, #2a3d4a, #111a20);
    display: block;
    height: 0px;
    border-radius: 10px;
    width: 300px;
    right: 2rem;
    top: 80px;
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mobile_menu.open {
    height: 330px;
}

.mobile_menu li {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0.7rem;
}

.mobile_menu a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
    display: block;
    border-radius: 10px;
    padding: 12px 100px;
}

.mobile_menu a:hover {
    color: #ffffff;
    text-shadow: 0 0 20px rgba (255, 255, 255, 1.5);
    font-size: 1.05rem;
    background: linear-gradient(135deg, #5e829a, #456e89);
    border-radius: 10px;
}

.toogle_btn {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
}