body {
    font-family: Arial, sans-serif;
    background: #f8f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100vh;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 600px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

select, input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
}


button {
    box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.12);
    align-items: center;
    text-align: center;
    width: 70%;
    margin-left: 70px;
    background-color: #4A90E2;   /* main color */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #1F6FCC;  /* darker shade */
    transform: translateY(-3px); /* slight lift */
}

.select-icon {
  position: relative;
  width: 100%;
}

.select-icon i {
  position: absolute;
  left: 10px;
  top: 35%;
  transform: translateY(-50%);
  color: #555;
  pointer-events: none;
}

.select-icon select {
  width: 100%;
  padding: 10px 10px 10px 35px; /* space for icon */
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.mobile_menu {
    position: absolute;
    background: linear-gradient(135deg, #2a3d4a, #111a20);
    display: block;
    height: 0px;
    border-radius: 10px;
    width: 300px;
    right: 2rem;
    top: 80px;
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mobile_menu.open {
    height: 280px;
}

.mobile_menu li {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0.7rem;
}

.mobile_menu a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
    display: block;
    border-radius: 10px;
    padding: 12px 100px;
}

.mobile_menu a:hover {
    color: #ffffff;
    text-shadow: 0 0 20px rgba (255, 255, 255, 1.5);
    font-size: 1.05rem;
    background: linear-gradient(135deg, #5e829a, #456e89);
    border-radius: 10px;
}
.toogle_btn {
    display: block;
    font-size: 1.5rem;
    color: white;
}

