body {
    font-family: Arial, sans-serif;
    background: #f8f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 600px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

select, input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
}


button {
    width: 100%;
    padding: 12px;
    background: #4a67ff;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: orange;
    font-size: 1.05rem;
}
    
