footer {
    background: linear-gradient(135deg, #2a3d4a, #111a20); /* contrast color */;
    padding: 50px 20px 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    max-width: 1100px;
    margin-inline-start: 130px;
    align-items: start;
}

.footer-logo h2 {
    color: orange;
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 14px;
    line-height: 1.5;
}

.footer-contact h3, 
.footer-links h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: orange;
}

.footer-links ul {
    list-style: none;
    padding: 0px;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: orange;
}

.footer-contact p {
    font-size: 14px;
    margin: 8px 0;
}

.footer-contact i {
    margin-right: 10px;
    color: orange;
}

.footer-socials a {
    color: white;
    font-size: 20px;
    margin-right: 15px;
    transition: transform 0.3s, color 0.3s ease;
}

.footer-socials a:hover {
    color: orange;
    transform: scale(1.2);
}

.footer-bottom {
    text-align: center;
    font-size: 13px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 15px;
    margin-top: 30px;
}

@media (max-width: 600px) {
    footer {
        text-align: center;
}

.footer-container {
    margin-inline-start: 0;
}

.footer-socials a {
    margin: 10px;
}

}
