.slider {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    z-index: 1;
}

.slides {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.content {
    position: relative;
    z-index: 3;
}

.content h1 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);

}

.slides.active {
    opacity: 1;
}

.slide-text {
    background-image: url('https://plus.unsplash.com/premium_photo-1663126901191-5285f19a4782?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8a2lkcyUyMGF0JTIwc2Nob29sfGVufDB8fDB8fHww');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.slide-text_2 {
    background-image: url('https://images.unsplash.com/photo-1529390079861-591de354faf5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YWZyaWNhbiUyMHNjaG9vbCUyMGNoaWxkcmVufGVufDB8fDB8fHww&fm=jpg&q=60&w=3000');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.content p{
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: #ffffff;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
  background: #cc7a00;
   color: #ffffff;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.slides img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}
