body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pass-menu {
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    margin-top: 300px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
    padding-bottom: 100px;
    width: 80%;
}


.pass-menu h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 2rem;
    color: black;
    padding: 20px;
}

.pass-menu .subtitle {
    font-size: 1rem;
    margin-bottom: 15px;
    color: black;
}

.pass-menu .right-links {
    text-align: center;
}

.pass-menu .form {
    text-align: center;
    margin-top: 40px;
}

.pass-menu .right-links a {
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.12);
  align-items: center;
  text-align: center;
  width: 470px;
  background-color: #4A90E2;   /* main color */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: relative;
  top: 30px;
}

.pass-menu .right-links a:hover {
  background-color: #1F6FCC;  /* darker shade */
  transform: translateY(-3px); /* slight lift */
}

header .logo > a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;

}
header .logo > a:hover {
    color: orange;
}

header .logo {
    float: left;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
}

header {

    background: linear-gradient(135deg, #2a3d4a, #111a20); /* contrast color */;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    text-align: right;
    padding: 1.5rem;
    z-index: 50;
    width: 100%;

}

header ul {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 2rem;
}

header ul a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

header ul a:hover {
   color: orange;
   font-size: 1.05rem;
}

.mobile_menu {
    position: absolute;
    background: linear-gradient(135deg, #2a3d4a, #111a20);
    display: none;
    height: 0px;
    border-radius: 10px;
    width: 300px;
    right: 2rem;
    top: 90px;
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mobile_menu.open {
    height: 280px;
}

.mobile_menu li {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0.7rem;
    white-space: nowrap;
}

.mobile_menu a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
    display: block;
    border-radius: 10px;
    padding: 12px 100px;
}

.mobile_menu a:hover {
    color: #ffffff;
    text-shadow: 0 0 20px rgba (255, 255, 255, 1.5);
    font-size: 1.05rem;
    background: linear-gradient(135deg, #5e829a, #456e89);
    border-radius: 10px;
}
.toogle_btn {
    display: none;
    font-size: 1.5rem;
    color: white;
}

button {
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.12);
  align-items: center;
  text-align: center;
  background-color: darkred;   /* main color */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pass-menu input {
    width: 250px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
  margin-bottom: 20px;
  font-size: 15px;
  outline: none;
}

